body{
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    margin-top: 60px;
    
    
    display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 100%;
      padding: 20px;

}
a{
    text-decoration: none;
    color: #0366D6;
}
#content {
    max-width: 800px; 
    width: 100%;
    text-align: left; 
  }
*{
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
h1{
    color: #0366D6;
}
.about{
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    word-wrap: normal;
}
.icons{
    display: flex;
    
}
.gif{
    height: 270px;
    width: 590px;
}
@media screen and (max-width: 700px){
    .gif{
        height: 170px;
        width: 490px;
    }
    .aktywnosc{
        height: 243px;
        width: 880px;
    }
}
@media screen and (max-width: 550px){
    .aktywnosc{
        height: 143px;
        width: 780px;
    }
}
.aktywnosc{
    height: 343px;
    width: 980px;
}

.git{
    font-weight: 500;
}
.git:hover{
    text-decoration: underline;
    color: #0366D6;
    
}
.all{
    margin-top: 20px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.anchorjs-link {
    
    opacity: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    
}
.anchorjs-link:hover{
    text-decoration: underline;
}