body {
    background: #559e9e;
    background: linear-gradient(90deg, #559e9e 20%, #4d8b93 60%);
    background: -webkit-linear-gradient(90deg, #559e9e 20%, #4d8b93 60%);
    background: -moz-linear-gradient(90deg, #559e9e 20%, #4d8b93 60%);
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #121623;
}

p {
    color: white;
    letter-spacing: 1px;
    margin: 30px ;
}



.div2 {
    border: 20px ridge #000a1c;
    padding: 50px;
    margin: 30px;
    background: #132f3f;
    background: linear-gradient(90deg, #132f3f 6%, #305b65 80%);
    background: -webkit-linear-gradient(90deg, #132f3f 6%, #305b65 80%);
    background: -moz-linear-gradient(90deg, #132f3f 6%, #305b65 80%);
}

.zdjecie1 {
    height: 500px;
    width: 500px;
    border: 2px solid #fff;
    padding-right: 0;
}

.lista {
    display: flex;

}

img {
    height: 500px;
    width: 300px;
    padding-right: 20px;
}

.ostatnia {
    padding-right: 0;
}

p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}